.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.container {
    max-width: 750px;
    align-self: center;
    
}

.navbar {
    border-right: 1.5px solid #ccc;
    background-color: #F4F4F9;
}

.main {
    background-color: #F4F4F9;
}

.section {
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas: 
    "header header"
    "content content"
    "footer footer";
    grid-gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    max-width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

/* * {
    border: 1px solid red;
} */
.project {
    display: flex;
}

.project .grid-section-3 {
    margin-top: 5%;
}
.grid-section-1 {
    grid-area: header;
    border-bottom: 1.5px solid #ccc;
    grid-column: 1 / 3;
    background-color: #F4F4F9;
    text-align: center;
    max-width: 900px;
}

.grid-section-2 {
    grid-area: content;
    grid-column: 1;
    grid-row: 2;
    width: 50%;
    margin-left: 3%;
}

.grid-section-3 {
    grid-area: content;
    grid-column: 2;
    grid-row: 2;
    width: 33%;
    margin-left: 3%;
}

.grid-section-3 a {
    color: #000000;
}

.grid-section-4 {
    grid-area: footer;
    grid-column: 1 / 3;
}

.smediaLogo {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.iframe {
    width: 500px;
    height: 400px;
}

#textgame .project {
    display: grid;
}

#textgame .iframe {
    width: 900px;
    height: 700px;
    object-fit: contain;
}


@media only screen and (min-width: 700px) {
    .section {
      margin-top: 20%;
    }
    
  }


  @media only screen and (max-width: 600px) {
    .project {
        flex-direction: column;
    }
  }