@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@500&display=swap');

#reguText {
    font-family: 'Roboto', sans-serif;
}



.navbar-expand-md .navbar-nav .nav-link {
    padding-right: initial;
}

#navOpt:hover {
    background-color: #a3a3a4;
}

#reguText a {
    margin-left: 10px;
}

#reguText a:hover,
#textgame a:hover,
.grid-section-2 a:hover {
    font-family: 'Roboto Slab', serif;
}

.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.container {
    max-width: 750px;
    align-self: center;

}

#heading {
    font-family: 'Roboto Slab', serif;
}

.navbar {
    background-color: #F4F4F9;
}

.navbar::after {
    content: '';
    height: 30%;
}

.main {
    background-color: #F4F4F9;
}

.section {
    padding: 0 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas:
        "header header"
        "content content"
        "footer footer";
    grid-gap: 20px;
    grid-template-rows: repeat(3, 1fr);
    position: relative;
    max-width: 600px;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}

/* * {
    border: 1px solid red;
} */
.project {
    display: flex;
}

.project .grid-section-3 {
    margin-top: 5%;
}

.grid-section-1 {
    grid-area: header;
    border-bottom: 1.5px solid #ccc;
    grid-column: 1 / 3;
    background-color: #F4F4F9;
    text-align: center;
    align-self: center;
}

.grid-section-2 {
    grid-area: content;
    grid-column: 1;
    grid-row: 2;
    width: 50%;
    margin-left: 3%;
    padding-top: 3%;
}

.grid-section-3 {
    grid-area: content;
    grid-column: 2;
    grid-row: 2;
    width: 33%;
    margin-left: 3%;
}

.grid-section-3 a {
    color: #000000;
}

.grid-section-3 ul {
    list-style-type: none;
    padding-left: 15px;
    gap: 20px;
}

.grid-section-4 {
    grid-area: footer;
    grid-column: 1 / 3;
}

.smediaLogo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    padding-right: 5px;
}

.iframe {
    width: 500px;
    height: 400px;
}

#textgame a,
.grid-section-2 a {
    color: #000000;
}

#textgame .project {
    display: grid;
}

#textgame .iframe {
    width: 900px;
    height: 700px;
    object-fit: contain;
}


@media only screen and (min-width: 700px) {
    .section {
        margin-top: 20%;
    }

    .navbar {
        height: 600px;
        background-color: linear-gradient(to bottom, rgb(244, 244, 249), rgba(244, 244, 249, 0));
        /* Attempted to make the navbar fade into transparency but it did not seem to wish to */
        width: 102.8px;
    }

    #innerpage {
        padding-left: 5%;
        padding-top: 5%;
    }
}



@media only screen and (max-width: 600px) {
    .project {
        flex-direction: column;
    }
}